<div id="toolbar">
  <img src="remnants_of_destruction_logo.png" alt="Remnants of Destruction Logo" id="lsu-logo-img" loading="lazy">
  <button id="add-pin-btn">Place POI</button>
  <button id="toggle-3d-btn">3D Terrain</button>
  <div class="toolbar-center">
    <a id="bestiary-btn">Mutants</a>
    <a id="aliens-btn" class="toolbar-button-like-link">Aliens</a>
    <a id="hive-btn" class="toolbar-button-like-link">H.I.V.E.</a>
    <a id="prometheus-btn" class="toolbar-button-like-link">Prometheus</a>
    <a id="cross-btn" class="toolbar-button-like-link">C.R.O.S.S.</a>
    <a id="slingers-btn" class="toolbar-button-like-link">Slingers</a>
    <a id="fdg-btn" class="toolbar-button-like-link">F.D.G.</a>
    <button id="core-rules-btn" class="toolbar-button-like-link">Core Rules</button>
    <button id="gdd-btn" class="toolbar-button-like-link">G.D.D.</button>
    <button id="grid-action-btn" class="grid-action-btn">Scan</button>
    <button id="map-roads-btn" class="map-roads-btn">Map</button>
    <button id="find-events-btn" class="find-events-btn">Find Events</button>
    <button id="tutorial-btn" class="toolbar-button-like-link">Tutorial</button>
    <button id="sign-in-btn">Sign In</button>
  </div>
</div>
