<div id="right-sidebar">
  <button id="close-right-sidebar">Close</button>
  <button id="expand-right-sidebar">Expand</button>
  <button id="collapse-sidebar-content">Toggle Content</button>
  <div id="sidebar-content">
    <div class="grid grid-cols-2 gap-4 mb-4">
      <div class="relative group">
        <button class="sidebar-button" data-iframe-src="/forum/topics/discussion/new">POST TO COMMUNITY</button>
        <div class="sidebar-dropdown">
          <a href="#" data-iframe-src="/forum/topics/discussion/new">Forum</a>
          <a href="#" data-iframe-src="/post-job">Job</a>
          <a href="#" data-iframe-src="/points/blogpost/new">Point</a>
          <a href="#" data-iframe-src="/post-market">Sell Equipment</a>
          <a href="#" data-iframe-src="/directory">Directory</a>
          <a href="#" data-iframe-src="/usasurveyors">Article</a>
          <a href="#" data-iframe-src="/almanac/blogpost/new">Term</a>
          <a href="#" data-iframe-src="/events/event/new">Event</a>
          <a href="#" data-iframe-src="/photo">Photo</a>
          <a href="#" data-iframe-src="/video/video/new">Video</a>
        </div>
      </div>
      <div class="relative group">
        <button class="sidebar-button" data-iframe-src="#">MAPS & GEOTOOLS</button>
        <div class="sidebar-dropdown">
          <a href="#" data-iframe-src="/worldsurveyors">World Surveyors</a>
          <a href="#" data-iframe-src="/usasurveyors">USA Surveyors</a>
          <a href="#" data-iframe-src="/points/blogpost/new">Point</a>
          <a href="#" data-iframe-src="/localsurveyors">Local</a>
          <a href="#" data-iframe-src="/worldsurveyors">World</a>
          <a href="#" data-iframe-src="/usasurveyors">USA</a>
          <a href="#" data-iframe-src="/hubsmap">Earth</a>
          <a href="#" data-iframe-src="/dualmap">Dual Map</a>
          <a href="#" data-iframe-src="/photo">Photo</a>
        </div>
      </div>
      <div class="relative group">
        <button class="sidebar-button" data-iframe-src="#">Continuing Education</button>
        <div class="sidebar-dropdown">
          <a href="#" data-iframe-src="/hubs/learn=join">L.E.A.R.N HUB</a>
          <a href="#" data-iframe-src="/hubs/learn/forum/topics">Edu Forum</a>
          <a href="#" data-iframe-src="/hubs/learn/coursebuilder">BUILD COURSE</a>
          <a href="#" data-iframe-src="/hubs/learn/videos">Videos</a>
          <a href="#" data-iframe-src="/hubs/learn/build">Roadmap</a>
          <a href="#" data-iframe-src="/hubs/learn/events">Events</a>
          <a href="#" data-iframe-src="/courses">Courses</a>
        </div>
      </div>
      <div class="relative group">
        <button class="sidebar-button" data-iframe-src="#">SURVEYOR MARKETPLACE</button>
        <div class="sidebar-dropdown">
          <a href="#" data-iframe-src="/post-market">SELL</a>
          <a href="#" data-iframe-src="/equipment">Equipment</a>
          <a href="#" data-iframe-src="/topics/total-stations">Total Stations</a>
          <a href="#" data-iframe-src="/page/survey-grade-gps-equipment">GPS</a>
          <a href="#" data-iframe-src="/worldsurveyors">Drones</a>
          <a href="#" data-iframe-src="/page/data-collectors">Data Collectors</a>
          <a href="#" data-iframe-src="/hubsmap">Request</a>
          <a href="#" data-iframe-src="/inspire">Inspiration</a>
          <a href="#" data-iframe-src="/vendors">Vendors</a>
        </div>
      </div>
    </div>
    <div id="sidebar-toggle-buttons" class="mt-4 mb-4">
      <button id="close-right-sidebar">Close</button>
      <button id="expand-right-sidebar">Expand</button>
      <button id="collapse-sidebar-content">Toggle Content</button>
    </div>
    <div id="point-type-select-container">
      <p>Choose the type of Survey Point you want to add:</p>
      <select id="point-type-select">
        <option value="Survey Point">Survey Point</option>
        <option value="Marker">Marker</option>
        <option value="Monument">Monument</option>
        <option value="FOTD">FOTD</option>
        <option value="I Surveyed This">I Surveyed This</option>
        <option value="Property Corners">Property Corners</option>
        <option value="Section Corners">Section Corners</option>
        <option value="Quarter Section Corners">Quarter Section Corners</option>
        <option value="Primary Control Points">Primary Control Points</option>
        <option value="Secondary Control Points">Secondary Control Points</option>
        <option value="Traverse Points">Traverse Points</option>
        <option value="Benchmarks">Benchmarks (Elevation Points)</option>
        <option value="Spot Elevation Points">Spot Elevation Points</option>
        <option value="Contour Points">Contour Points</option>
        <option value="Breaklines">Breaklines</option>
        <option value="Centerline Points">Centerline Points</option>
        <option value="Offset Points">Offset Points</option>
        <option value="Cut/Fill Points">Cut/Fill Points</option>
        <option value="Grading Points">Grading Points</option>
        <option value="GPS Points">GPS Points (GNSS Control Points)</option>
        <option value="Triangulation Points">Triangulation Points</option>
        <option value="Datum Points">Datum Points</option>
        <option value="Lot Corners">Lot Corners</option>
        <option value="Subdivision Control Points">Subdivision Control Points</option>
        <option value="Edge of Right-of-Way Points">Edge of Right-of-Way Points</option>
        <option value="Centerline of Right-of-Way Points">Centerline of Right-of-Way Points</option>
        <option value="Shoreline Points">Shoreline Points</option>
        <option value="Stream/Watercourse Points">Stream/Watercourse Points</option>
        <option value="Floodplain Points">Floodplain Points</option>
      </select>
    </div>
  </div>
</div>
